<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Confirm</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/rate_modal.css">

</head>
<body>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                  </div>
                  <div class="modal-body">
                        <div class="absa_container_head">
                              <div class="absa_heading">
                                    <img class="img_logo"  src="img/absa_logo.png" alt="">
                              </div>
                        </div>

                        <hr>
                        <div class="container form_currency">

                              <form action="/confirm" method="post">

                                    <div class="form-inline mb-3">
                                          <span style="font-size: 16px; font-weight: bold">Daily Indicative Rates</span>
                                          <div class="form-group ml-3">
                                                <input type="date" id="staticdate" class="form-control-plaintext">

                                          </div>
                                    </div>
                                    <hr>

                                    <% rateInfo.forEach(function (rateItem){ %>

                                    <select class="form-select form-control mb-3" name="rate_type" aria-label="Default select">
                                          <option  selected value="<%= rateItem.rateType_id%>" name="<%= rateItem.rate_type%>"><%= rateItem.rate_type%></option>
                                          <option value="1" name="cash">Cash</option>
                                          <option value="2" name="transfer">Transfer</option>

                                    </select>

                                    <div class="form-group">
                                          <label for="currencies">Currency</label>
                                          <select class="form-select form-control" name="currency_codes" aria-label="Default select" id="currencies">
                                                      <option selected value="<%=rateItem.code_id%>" name=<%=rateItem.code_name%>><%=rateItem.description%></option>
                                                      <option value="1" name="USD">U.S. Dollar (USD)</option>
                                                      <option value="2" name="GBP">Pound Sterling (GBP)</option>
                                                      <option value="3" name="EUR">Euro (EUR)</option>
                                                      <option value="4" name="CHF">Swiss Franc (CHF)</option>
                                                      <option value="5" name="CAD">Canadian Dollar (CAD)</option>
                                                      <option value="6" name="AUD">Australian Dollar (AUD)</option>
                                                      <option value="7" name="JPY">Japanese Yen (JPY)</option>
                                                      <option value="8" name="ZAR">South African Rand (ZAR)</option>
                                          </select>
                                    </div>

                                    <div class="form-row">
                                          <div class="col">
                                                <div class="form-group">
                                                      <label for="buy">Buy</label>
                                                      <input type="number" class="form-control" id="buy" step="0.0001" name="buy" value="<%= rateItem.buy%>">
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="form-group">
                                                      <label for="sell">Sell</label>
                                                      <input type="number" class="form-control" id="sell" step="0.0001" name="sell" value="<%= rateItem.sell%>">
                                                </div>
                                          </div>
                                    </div>
                                    <% })%>


                                    <button type="submit" name="submit" class="btn btn-success">confirm</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>


                              </form>



                        </div>
                  </div>
            </div>
      </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="/js/modal.js" rel="script"></script>


</body>
</html>