<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="refresh" content="63">
      <title>Title</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/rate.css">

</head>
<body>
<section>

      <div class="d-flex">
	    <div class="vid">
		  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="img/video_2022-03-25_18-08-52.mp4" type="video/mp4">
		  </video>
	    </div>

	    <div class="flex-fill" style="background-color: #ffc047;">
		  <div class="container">
			<div class="absa_container_head">
			      <div class="absa_heading">
				    <img class="img_logo" src="img/absa_logo.png" alt="">
			      </div>
			</div>
			<h2 class="text-center table_title">FX RATES - Transfer </h2>

<!--			<p>The .table-striped class adds zebra-stripes to a table:</p>-->
			<table class="table table-striped text-center">
			      <thead>
			      <tr>
				    <th>Currency</th>
				    <th>Buy</th>
				    <th>Sell</th>
			      </tr>
			      </thead>
			      <tbody>


				  <% transfer_data.forEach(function (transferItem){ %>
					  <tr>
						  <td><%= transferItem.code_name %></td>
						  <td><%= transferItem.buy %></td>
						  <td><%= transferItem.sell %></td>
					  </tr>
				  <% }) %>


			      </tbody>
			</table>
		  </div>


	    </div>
      </div>

      <div class="rate_scroll" >
	    <span class="fx_title">Cash Rates:</span>
	    <marquee class="" behavior="scroll" direction="left" scrollamount="5">
		  <span style="color: red">USD => </span><span style="font-weight: bold">BUY:</span> 6.6000, <span style="font-weight: bold">SELL:</span> 7.1000;
		  <span style="color: red">GBP => </span><span style="font-weight: bold">BUY:</span> 8.7840, <span style="font-weight: bold">SELL:</span> 9.4500;
		  <span style="color: red">EUR => </span><span style="font-weight: bold">BUY:</span> 7.3350, <span style="font-weight: bold">SELL:</span> 7.8920;
	    </marquee>
      </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>