<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Add Rate</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">      <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="/css/rate.css">
</head>
<body>

<div class="card">
      <div class="card-body">
	    <div class="absa_container_head">
		  <div class="absa_heading">
			<img class="img_logo"  src="img/absa_logo.png" alt="">
		  </div>
	    </div>

	    <hr>
	    <div class="container form_currency">
		  <form action="/rate" method="post" >
			<div class="form-inline mb-3">
			      <span style="font-size: 16px; font-weight: bold">Daily Indicative Rates</span>
			      <div class="form-group ml-3">
				    <input type="date" id="staticdate" class="form-control-plaintext">

			      </div>
			</div>
			<hr>
			      <select class="form-select form-control mb-3" name="rate_type" aria-label="Default select">
				    <option selected value="1" name="cash">Cash</option>
				    <option value="2" name="transfer">Transfer</option>

			      </select>
			<div class="form-group">
			      <label for="currencies">Currency</label>
			      <select class="form-select form-control" name="currency_codes" aria-label="Default select" id="currencies">
				    <option selected value="1" name="USD">U.S. Dollar (USD)</option>
				    <option value="2" name="GBP">Pound Sterling (GBP)</option>
					  <option value="3" name="EUR">Euro (EUR)</option>
					  <option value="4" name="CHF">Swiss Franc (CHF)</option>
				    <option value="5" name="CAD">Canadian Dollar (CAD)</option>
				    <option value="6" name="AUD">Australian Dollar (AUD)</option>
				    <option value="7" name="JPY">Japanese Yen (JPY)</option>
				    <option value="8" name="ZAR">South African Rand (ZAR)</option>
			      </select>
			</div>

			<div class="form-row">
			      <div class="col">
				    <div class="form-group">
					  <label for="buy">Buy</label>
					  <input type="number" class="form-control" id="buy" name="buy" step="0.0001">
				    </div>
			      </div>
			      <div class="col">
				    <div class="form-group">
					  <label for="sell">Sell</label>
					  <input type="number" class="form-control" id="sell" name="sell" step="0.0001">
				    </div>
			      </div>
			</div>

				  <button type="submit" name="submit" class="btn btn-success">Submit</button>


		  </form>

	    </div>


      </div>
      <span class="mt-2 mb-4" style="font-size: small; color: #cb0101; font-weight: bold">
	    The rates are indicative and subject to change without notice. These rates are for purchases up to USD 5,000
	    or the equivalent</span>

      <span style="font-size: x-small">Absa Bank Ghana Limited (registered number C144072016</span>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>