.rate_scroll{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    font-size: 40px;
    height: 65px;
    width: 100%;
}

.fx_title{
    position: fixed;
    z-index: 1;
    background-color: black;
    padding-right: 15px;
    padding-left: 10px;
    font-weight: bold;

}

.vid{
    height: 100vh;
    width: 90%;
    background-color: black;
    padding-top: 15vh;
}

.table_title{
    color: firebrick;
    font-weight: bold;
    margin-bottom: 35px;

}


@media (max-width: 1280px ) {
    .vid{
        padding-top: 7vh;
    }
    .rate_scroll{
        height: 55px;
        font-size:30px ;

    }

    .table_title{
        font-size:x-large;
        margin-bottom: 10px;
    }
    
}

body{
    overflow-y: hidden;
}