.card{
    background-color: #eaeaea;
    display: flex;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 2vh;
    padding: 20px 40px;


}

.img_logo{
    width: 15%;
    padding-top: 25px;
    padding-bottom: 30px;

}

.absa_container_head{
    display: flex;
}

.absa_heading{
    text-align: center;

}

@media (max-width: 1280px) {

    .absa_container_head{
        padding-top: 5px;
    }

    .img_logo{
        width: 15%;
        padding-top: 5px;
        padding-bottom: 10px;

    }

}
